#notify {font-size:35px;display: inline;text-align: center;position:absolute;padding-top:25px;font-family:Helvetica;}
#ilist{height: 144px; text-align: center;}
#craving{height:150px; text-align: center;color:#606060;}
#craving_s{height:150px;text-align: center;color:#606060;}
#but{display:inline-block; width:42%;}
#crav{text-align: center;}