#notify {font-size:35px;display:inline;position:relative;font-family:Helvetica;}
#ilist{height: 138px; text-align: center;}
#craving{height:150px; text-align: center;color:#606060;}
#craving_s{height:150px;text-align: center;color:#606060;}
#but{display:inline-block; width:42%;}
#crav{text-align: center;}
#bbmb{border-radius: 10px;}

